html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
}

#container {
  position: relative;
  min-height: 100%;
  padding-bottom: 80px;
}

.parent {
  text-align: center;
}

/* Logo */

.logo {
  display: inline-block;
}

#google-logo {
  margin-top: 150px;
}

/* Search Bar */

#search-field {
  border: 1px solid #b3b3b3;
  margin: 15px auto;
  width: 400px;
  border-radius: 3px;
}

#search-field:hover {
  box-shadow: 2px 4px 4px #b3b3b3;
}

#search-bar {
  width: 350px;
  height: 35px;
  border: none;
  font-size: 1em;
}

#search-buttons {
  margin: 25px;
}

#search-buttons input {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 2px;
  font-weight: bold;
  color: #757575;
}

#search-buttons input:hover {
  border: 1px solid #757575;
}

#microphone {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

/* Header & Footer */

ul {
  list-style-type: none;
  padding: 0;
  margin: 15px;
}

ul li {
  display: inline-block;
  margin: 5px 10px;
}

ul li a:link {
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}

nav ul li a:active {
  color: #000;
}

ul li a:visited {
  color: #000;
}

footer ul li a:active {
  color: #F00;
}

.rightlink {
  float: right;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #F2F2F2;
}

footer ul {
  margin: 7px 15px;
}

/* Google App */

.googleapp {
  height: 15px;
  width: 15px;
  opacity: 0.75;
}

.googleapp:hover {
  opacity: 1;
}

/* Sign In */

#signin {
  background-color: blue;
  color: #FFF;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: bold;
}

#signin:hover {
  text-decoration: none;
}

#signin:active {
  background-color: rgb(0, 0, 156);
  border-top: 2px solid rgb (0, 0, 77);
}

#location {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  height: 40px;
  border-top: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
}

#fbar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
}
